
body{
    background:linear-gradient(90deg,rgb(0, 0, 0),rgb(218, 137, 137),rgb(80, 11, 112));
}
#f{
    font-family: monospace;
    text-align: center;
    font-size: xx-large;
    font-weight: 900;
}
  
#p{
    height: 400px;
    width: 300px;
    border: 2px solid black;;
    background:linear-gradient(30deg,rgb(62, 146, 224),rgb(90, 69, 66),rgb(141, 245, 205));
    color: rgb(9, 12, 11);
    box-shadow: 5px 5px 5px solid black;
}
#p{
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
#u{
    margin-top: -10px;
}
#h{
    border: 3px solid rgb(22, 21, 21);
    height: 30px;
    width: 120px;
    justify-content: space-around;
}
button:hover{
    color: red;
    background: rgb(107, 255, 107);
    font-weight: 900;
}
#e{

    border: 3px solid rgb(11, 11, 11);
    width: fit-content;
    margin-top: -10px;
    border-radius: 5px;
    margin-left: 55px;
}
#t{
    border: 3px solid rgb(11, 11, 11);
    margin-top: -10px;
    width: fit-content;
    margin-left: 55px;


}
#y{
    margin-top: 10px;
}